datasets/
datasets/*
datasets/*/*
data/*/*
data/*.*
# datasets/*/*
# datasets/*.*
weights/*
__pycache__/
*.jpg
*.png
*.jpeg
*.JPEG
*.PNG
*.JPG
*.pt
*.pth
wandb/
# Except this file
!.gitignore
!*.py
!*.sh
!*.md
!data_split.json
